.weather-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.info-icon {
  font-size: 36px;
  color: #007bff;
}

.info-text {
  font-size: 20px;
  margin-top: 4px;
}
